# CONFIGURACIÓN DEL SERVIDOR
PORT=3000
NODE_ENV=development
# BASE DE DATOS (PostgreSQL)
# Formato: postgresql://usuario:contraseña@host:puerto/nombre_bd
DATABASE_URL=postgresql://postgres:tu_contraseña@localhost:5432/tu_base_datos
# SEGURIDAD Y AUTENTICACIÓN
JWT_SECRET=coloca_aqui_una_clave_secreta_segura
# SEGURIDAD CORS (Separados por comas si son múltiples)
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173